<script>
import { toggleOpen } from '~/utils/animation'
import TriDown from '~/assets/icons/tri-down.svg?inline'

export default {
  components: {
    TriDown,
  },
  data() {
    return {
      isActive: false,
      isHovered: false,
    }
  },
  computed: {
    panelClasses() {
      return {
        'is-active': this.isActive,
      }
    },
    mainBgClasses() {
      return {
        'is-active': this.isActive,
        'is-hovered': this.isHovered,
      }
    },
  },
  methods: {
    toggleActive() {
      this.isActive = !this.isActive
      toggleOpen('.js-about-content', 'height', this.isActive)
    },

    toggleHovered() {
      if (this.isActive) return

      this.isHovered = !this.isHovered
    },
  },
}
</script>

<template>
  <div
    class="section-panel section-panel--top"
    :class="panelClasses"
    @click="toggleActive"
    @mouseenter="toggleHovered"
    @mouseleave="toggleHovered"
  >
    <h3 class="section-panel__title">
      <tri-down class="section-panel__title-icon" />
      About
    </h3>
    <div class="section-panel__content js-about-content">
      <portal to="main-bg">
        <div
          class="gradient-bg gradient-bg--top gradient-bg--yellow"
          :class="mainBgClasses"
        />
      </portal>
      <div class="about-content">
        <h3 class="about-content__heading">Saturated Media Works</h3>
        <div class="about-content__text">
          <p>
            My name is Brad Zeffren, and Saturated Media Works is the name I use
            to represent my interactive development work. Most of the time this
            means developing web apps and websites, but sometimes it also
            includes other things like UX design and audio/visual media content
            creation. I'm currently based in Nashville, TN.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.section-panel {
  --panel-bg: var(--yellow);
  --border-color: var(--pink);

  &.is-active {
    color: var(--color-on-light);
  }
}

.section-panel__title {
  --title-color: var(--yellow-dark);
  --active-opacity: 0.2;
  --inactive-transform: scale(1) translateY(0);
  --active-transform: scale(15) translateX(-30%) translateY(-50%);

  @include desktop() {
    left: calc(#{ms(0)} + 3px);
    top: ms(-2);
  }
}

.about-content__heading {
  text-transform: uppercase;
}

.about-content__text {
  @include desktop() {
    width: 60%;
    margin-left: auto;
  }
}
</style>
