<script>
import { toggleOpen } from '~/utils/animation'
import TriRight from '~/assets/icons/tri-right.svg?inline'

export default {
  components: {
    TriRight,
  },
  async fetch() {
    this.posts = await this.$content('posts').fetch()
  },

  data() {
    return {
      isActive: false,
      isHovered: false,
      posts: [],
      lastPostPath: undefined,
    }
  },
  computed: {
    panelClasses() {
      return {
        'is-active': this.isActive,
      }
    },
    mainBgClasses() {
      return {
        'is-active': this.isActive,
        'is-hovered': this.isHovered,
      }
    },
  },
  created() {
    if (this.$route.path.includes('blog')) {
      this.isActive = true
    }
  },
  methods: {
    toggleActive() {
      this.isActive = !this.isActive

      this.updateLastPath()

      toggleOpen('.js-blog-content', 'width', this.isActive)
    },

    toggleHovered() {
      if (this.isActive) return

      this.isHovered = !this.isHovered
    },

    listClick(e) {
      e.stopPropagation()
    },

    updateLastPath() {
      if (this.$route.path.includes('/blog/') && !this.isActive) {
        this.lastPostPath = this.$route.path
        window.$nuxt.$router.push('/')
      }

      if (this.lastPostPath && this.isActive) {
        window.$nuxt.$router.push(this.lastPostPath)
      }
    },
  },
}
</script>

<template>
  <div
    class="section-panel section-panel--left"
    :class="panelClasses"
    @click="toggleActive"
    @mouseenter="toggleHovered"
    @mouseleave="toggleHovered"
  >
    <h3 class="section-panel__title">
      <tri-right class="section-panel__title-icon" />
      Blog
    </h3>
    <div class="section-panel__content js-blog-content">
      <portal to="main-bg">
        <div
          class="gradient-bg gradient-bg--left gradient-bg--orange"
          :class="mainBgClasses"
        />
      </portal>
      <ul class="post-list" @click="listClick">
        <li v-for="post in posts" :key="post.title">
          <NuxtLink
            :to="{ path: `/blog/${post.slug}` }"
            class="post-list__link"
          >
            {{ post.title }}
          </NuxtLink>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.section-panel {
  --panel-bg: var(--orange);
  --border-color: var(--yellow);

  &.is-active {
    color: var(--color-on-light);
  }

  &__title {
    --title-color: var(--orange-dark);
    --active-opacity: 0.2;
    --inactive-transform: rotate(-90deg) scale(1) translateX(-110%)
      translateY(-33%);
    --active-transform: scale(15) rotate(-90deg) translateX(-90%)
      translateY(-50%);

    @include desktop() {
      top: ms(-2);
      left: ms(1);
    }
  }
}

.section-panel__title-icon {
  transform: rotate(90deg);
}

.section-panel__content {
  @include desktop() {
    .section-panel:not(.is-active) & {
      width: 0;
    }
  }

  .section-panel:not(.is-active) & {
    pointer-events: none;
  }
}

.post-list {
  transition: opacity 0.2s;
  transition-delay: 275ms;

  @include desktop() {
    opacity: 0;

    .section-panel.is-active & {
      opacity: 1;
    }
  }
}

.post-list__link {
  color: var(--color-on-light);
  text-decoration: none;
  transition: color 100ms;

  &:hover {
    color: var(--orange-dark);
  }
}
</style>
