<template>
  <div>
    <p
      class="codepen"
      data-height="500"
      data-theme-id="dark"
      :data-default-tab="defaultTabs"
      data-user="bzeffren"
      :data-slug-hash="hash"
      data-preview="true"
      style="
        height: 265px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid;
        margin: 1em 0;
        padding: 1em;
      "
      :data-pen-title="penTitle"
    >
      <span>
        <a :href="url"> See the Pen</a>
        by Brad Zeffren (<a href="https://codepen.io/bzeffren">@bzeffren</a>) on
        <a href="https://codepen.io">CodePen</a>.</span
      >
    </p>
    <script
      async
      src="https://cpwebassets.codepen.io/assets/embed/ei.js"
    ></script>
  </div>
</template>

<script>
export default {
  name: 'Codepen',
  props: {
    hash: {
      type: String,
      default: '',
    },
    defaultTab: {
      type: String,
      default: 'css',
      validator(val) {
        return ['html', 'css', 'js'].includes(val)
      },
    },
    penTitle: {
      type: String,
      default: 'A Pen by Brad Zeffren',
    },
  },

  computed: {
    url() {
      return `https://codepen.io/bzeffren/pen/${this.hash}`
    },
    defaultTabs() {
      return `${this.defaultTab},result`
    },
  },
}
</script>
