<script>
import { toggleOpen } from '~/utils/animation'
import TriUp from '~/assets/icons/tri-up.svg?inline'

export default {
  components: {
    TriUp,
  },

  data() {
    return {
      isActive: false,
      isHovered: false,
    }
  },

  computed: {
    panelClasses() {
      return {
        'is-active': this.isActive,
      }
    },

    mainBgClasses() {
      return {
        'is-active': this.isActive,
        'is-hovered': this.isHovered,
      }
    },
  },
  methods: {
    toggleActive() {
      this.isActive = !this.isActive
      toggleOpen('.js-contact-content', 'height', this.isActive)
    },

    toggleHovered() {
      if (this.isActive) return

      this.isHovered = !this.isHovered
    },
  },
}
</script>

<template>
  <div
    class="section-panel section-panel--bottom"
    :class="panelClasses"
    @click="toggleActive"
    @mouseenter="toggleHovered"
    @mouseleave="toggleHovered"
  >
    <h3 class="section-panel__title">
      <tri-up class="section-panel__title-icon" />
      Contact
    </h3>
    <div class="section-panel__content js-contact-content">
      <portal to="main-bg">
        <div
          class="gradient-bg gradient-bg--bottom gradient-bg--blue"
          :class="mainBgClasses"
        />
      </portal>
      <p>
        I'm always looking for new projects, so please feel free to reach out.
      </p>
      <!-- prettier-ignore -->
      <a class="contact-info" href="mailto:hello@saturatedmediaworks.com">hello@saturatedmediaworks.com</a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.section-panel {
  --panel-bg: var(--blue);
  --border-color: var(--orange);
}

.section-panel__title {
  --title-color: var(--opaque-light);
  --title-color-hover: var(--color-on-dark);
  --active-opacity: 0.2;
  --inactive-transform: scale(1) translateX(0) translateY(0);
  --active-transform: scale(15) translateX(0) translateY(55%);

  @include desktop() {
    transform-origin: right bottom;
    right: calc(#{ms(0)} + 3px);
    bottom: ms(-2);
  }
}

.section-panel__content {
  @include desktop() {
    text-align: right;
  }
}

.contact-info {
  text-align: right;
}
</style>
