<template>
  <div id="svg-wrap">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225 710.41">
      <polygon
        id="music"
        class="shape"
        points="57 709.58 57 0 225 630 57 709.58"
        stroke-miterlimit="10"
        @mouseover="setActiveEntry('music')"
        @mouseout="clearActiveEntry"
        @click="onShapeClick"
      />
      <polygon
        id="civilization"
        class="shape"
        points="56.9 350 225 449.58 57.1 584.58 56.9 350"
        stroke-miterlimit="10"
        @mouseover="setActiveEntry('civilization')"
        @mouseout="clearActiveEntry"
        @click="onShapeClick"
      />
      <polygon
        id="emma"
        class="shape"
        points="57 98.25 225 250 57 439.58 57 98.25"
        stroke-miterlimit="10"
        @mouseover="setActiveEntry('emma')"
        @mouseout="clearActiveEntry"
        @click="onShapeClick"
      />
      <polygon
        id="rms"
        class="shape"
        points="57 0.58 57 240.58 225 33.58 57 0.58"
        stroke-miterlimit="10"
        @mouseover="setActiveEntry('rms')"
        @mouseout="clearActiveEntry"
        @click="onShapeClick"
      />
      <g id="Scale">
        <text
          transform="translate(0 32.37) scale(1.11 1)"
          font-size="16"
          font-family="NotoSans-Regular, Noto Sans"
        >
          2021
        </text>
        <text
          transform="translate(0 680.08) scale(1.11 1)"
          font-size="16"
          font-family="NotoSans-Regular, Noto Sans"
        >
          1994
        </text>
      </g>
    </svg>
    <div
      v-for="entry in resumeEntries"
      :id="`${entry.id}-text`"
      :key="entry.id"
      :ref="entry.id"
      class="entry"
      :class="{ 'is-hovered': activeEntry === entry.id }"
      @mouseover="setActiveEntry(entry.id)"
      @mouseout="clearActiveEntry"
    >
      <div class="entry__job-summary">
        <p class="entry__job-title">{{ entry.title }}</p>
        <p>{{ entry.org }}</p>
        <p>{{ entry.location }}</p>
        <p>{{ entry.years }}</p>
      </div>
      <div class="entry__details" @click.prevent="onDetailsClick">
        <p>{{ entry.description }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { resumeEntries } from '~/components/Resume/constants'

export default {
  name: 'CvGraphic',
  data() {
    return {
      resumeEntries,
      activeEntry: '',
    }
  },

  methods: {
    setActiveEntry(entry) {
      this.activeEntry = entry
    },

    clearActiveEntry() {
      this.activeEntry = ''
    },

    onDetailsClick(e) {
      this.clearActiveEntry()
      e.stopPropagation()
    },

    onShapeClick(e) {
      e.stopPropagation()
    },
  },
}
</script>

<style scoped lang="scss">
#svg-wrap {
  --hover-cursor: crosshair;

  position: relative;
  left: 0;
  height: calc(100vh - 8rem);
  max-height: 1100px;
  margin-left: -53px;
  width: 100vw;

  @include desktop() {
    min-height: 700px;
    width: 500px;
    margin-left: 0;
  }

  svg {
    height: 90%;
    opacity: 0.9;
    pointer-events: none;

    @include desktop() {
      height: 100%;
      pointer-events: all;
      opacity: 1;
    }
  }

  text {
    fill: white;
  }
}

#Scale {
  display: none;

  @include desktop() {
    display: initial;
  }
}

.shape {
  fill: hsla(0, 100%, 100%, 0.2);
  stroke: white;
  transition: fill 0.3s;

  &:hover {
    fill: hsla(0, 100%, 100%, 0.5);
    cursor: var(--hover-cursor);
  }
}

.entry {
  --rms-top: 0;
  --emma-top: 22%;
  --civilization-top: 48%;
  --music-top: 72%;

  padding: 1rem;
  position: absolute;
  top: 0;
  left: 40%;

  @include desktop() {
    --rms-top: 3%;
    --emma-top: 28%;
    --civilization-top: 55%;
    --music-top: 78%;

    left: 50%;
  }

  &#rms-text {
    top: var(--rms-top);
    margin-top: -20px;
  }

  &#emma-text {
    top: var(--emma-top);
  }

  &#civilization-text {
    top: var(--civilization-top);
  }

  &#music-text {
    top: var(--music-top);
  }

  p {
    margin: 0;
  }
}

.entry__details {
  opacity: 0;
  transform: translateX(20px);
  position: absolute;
  top: 0;
  left: -50px;
  width: 270px;
  background-color: hsla(0, 100%, 100%, 0.95);
  padding: ms(-1);
  color: var(--pink-dark);
  box-shadow: var(--box-shadow);
  border-radius: 2px;
  z-index: 10;

  .is-hovered & {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
    cursor: var(--hover-cursor);
  }

  #music-text & {
    top: -120%;
  }
}

.entry__job-summary {
  font-weight: var(--font-weight-bold);
  color: var(--white);
  text-shadow: 2px 2px hsla(0, 100%, 10%, 0.4);
}
</style>
