<script>
import { toggleOpen } from '~/utils/animation'
import TriLeft from '~/assets/icons/tri-left.svg?inline'

export default {
  components: {
    TriLeft,
  },
  data() {
    return {
      isActive: false,
      isHovered: false,
    }
  },
  computed: {
    panelClasses() {
      return {
        'is-active': this.isActive,
      }
    },
    mainBgClasses() {
      return {
        'is-active': this.isActive,
        'is-hovered': this.isHovered,
      }
    },
  },

  methods: {
    toggleActive() {
      this.isActive = !this.isActive

      toggleOpen('.js-resume-content', 'width', this.isActive)
    },

    toggleHovered() {
      if (this.isActive) return

      this.isHovered = !this.isHovered
    },
  },
}
</script>

<template>
  <div
    class="section-panel section-panel--right"
    :class="panelClasses"
    @click="toggleActive"
    @mouseenter="toggleHovered"
    @mouseleave="toggleHovered"
  >
    <h3 class="section-panel__title">
      <tri-left class="section-panel__title-icon" />
      Resume
    </h3>
    <div class="section-panel__content js-resume-content">
      <portal to="main-bg">
        <div
          class="gradient-bg gradient-bg--right gradient-bg--pink"
          :class="mainBgClasses"
        />
      </portal>
      <cv-graphic />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.section-panel {
  --box-shadow: 10px 10px 3px hsla(0, 100%, 10%, 0.2);
  --panel-bg: var(--pink);
  --border-color: var(--blue);

  &.is-active {
    color: var(--color-on-dark);
    overflow-y: auto;
  }
}

.section-panel__title {
  --title-color: var(--pink-dark);
  --inactive-transform: rotate(90deg) scale(1) translateX(-75%) translateY(-50%);
  --active-transform: scale(15) rotate(90deg) translateX(-100%) translateY(-50%);

  align-items: center;

  @include desktop() {
    bottom: ms(-2);
    right: -80px;
  }
}

.section-panel__title-icon {
  transform: rotate(-90deg);
}

.section-panel__content {
  .section-panel:not(.is-active) & {
    width: 0;
  }
}

.chart {
  max-width: 100%;
}
</style>
