/* stylelint-disable */

* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #fff7c7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff7c7; /* Gecko Browsers */
}

/*
 * Globals
 */
body {
  padding: 3rem 0 0 0;
  color: #353535;
  line-height: 1.5;
  font-family: 'PT Serif', serif;
  font-size: 20px;
}
.outer-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
.back {
  color: #9a9a9a;
  display: block;
  max-width: 700px;
  margin: 0 auto 2em auto;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.back:before {
  content: '←';
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
.back a {
  color: #9a9a9a;
}
.back a:hover {
  text-decoration: underline;
}
a {
  color: #353535;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 23px;
}
.blog-main h1,
.blog-main .h1,
.blog-main h2,
.blog-main .h2,
.blog-main h3,
.blog-main .h3,
.blog-main h4,
.blog-main .h4,
.blog-main h5,
.blog-main .h5,
.blog-main h6,
.blog-main .h6 {
  color: #353535;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
h1 {
  margin-bottom: 1rem;
  font-size: 50px;
  font-weight: 900;
  line-height: 60px;
}
h2 {
  margin-bottom: 1rem;
  font-size: 28px;
  font-weight: 900;
  line-height: 40px;
}
h3 {
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: 900;
}
.blog-post-meta {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 8px;
  color: #9a9a9a;
}
p {
  margin-bottom: 2rem;
}
pre,
ul,
ol {
  margin-bottom: 20px;
  padding-left: 40px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 700px;
  margin: auto;
}
.wio-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #fafafa;
  box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4);
}

/* Media Queries */
@media (max-width: 767px) {
  .outer-container {
    padding: 0 20px;
  }
  .container {
    padding: 0 20px;
  }
  .post-part {
    font-size: 18px;
  }
  .post-part pre {
    font-size: 14px;
  }
  .blog-post-meta {
    font-size: 16px;
  }
  h1 {
    font-size: 36px;
    line-height: 45px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
}
