<template>
  <div class="layout">
    <section class="layout__section content-panel is-top">
      <About />
    </section>
    <section class="layout__section content-panel is-left">
      <Blog />
    </section>
    <section class="layout__section content-panel is-right">
      <Resume />
    </section>
    <section class="layout__section content-panel is-bottom">
      <Contact />
    </section>
    <section class="layout__section is-main">
      <portal-target name="main-bg" multiple />
      <transition name="fade">
        <Nuxt />
      </transition>
    </section>
  </div>
</template>

<script>
import { pulseOpacity } from '~/utils/animation'

export default {
  mounted() {
    if (window.innerWidth > 1024) {
      this.$nextTick(() => pulseOpacity('.gradient-bg'))
    }
  },
}
</script>

<style scoped lang="scss">
.layout {
  width: 100%;
  height: 100vh;

  @include desktop() {
    html,
    body {
      overflow: hidden !important;
    }

    display: grid;

    /* prettier-ignore */
    grid-template-columns:
    minmax(var(--size-2), max-content) 1fr minmax(var(--size-2), max-content);

    /* prettier-ignore */
    grid-template-rows:
    minmax(var(--size-2), max-content) 1fr minmax(var(--size-2), max-content);
    grid-template-areas:
      'top top right'
      'left main right'
      'left bottom bottom';

    .is-top {
      grid-area: top;
    }

    .is-right {
      grid-area: right;
    }

    .is-bottom {
      grid-area: bottom;
    }

    .is-left {
      grid-area: left;
    }

    .is-main {
      --about-bg-opacity: 0;
      --blog-bg-opacity: 0;
      --contact-bg-opacity: 0;
      --resume-bg-opacity: 0;
      --active-bg-opacity: 0.7;

      position: relative;
      grid-area: main;
      padding: ms(2);
      overflow-y: hidden;
      display: flex;
      justify-content: center;
      z-index: 0;
    }
  }
} // end desktop()

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.7s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
