<template>
  <article class="post">
    <nuxt-content :document="post" />

    <div v-if="post.codepen">
      <p>See the example</p>
      <codepen
        :hash="post.codepen.hash"
        :default-tab="post.codepen.defaultTab"
        :pen-title="post.codepen.penTitle"
      />
    </div>
  </article>
</template>

<script>
import Codepen from '~/components/Codepen'

export default {
  components: { Codepen },

  async asyncData({ $content, params }) {
    const post = await $content('posts', params.slug).fetch()

    return { post }
  },
}
</script>

<style lang="scss">
.post {
  padding: ms(2);
  max-width: $widescreen;
  overflow-y: auto;
  opacity: 1;
  position: relative;
  z-index: 10;

  .icon.icon-link {
    width: 0;
  }

  @include desktop() {
    h1,
    h2,
    h3,
    h4,
    h6,
    p,
    ul,
    li {
      background-color: var(--opaque-dark);
      padding: ms(0);
    }

    p {
      margin-bottom: 1px;
    }
  }
}
</style>
