<template>
  <div class="main-container">
    <!--    <p class="main-container__text">This is not a portfolio</p>-->
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    text-transform: uppercase;
    opacity: 0.1;
    font-size: ms(2);
    transform: rotate(90deg);
  }
}
</style>
