// element sent via portal to main section for BG gradients

.gradient-bg {
  --gradient-color: var(--blue-hsl);
  --gradient-direction: to left;
  --gradient-opacity: 1;
  --gradient-start: hsla(var(--gradient-color), var(--gradient-opacity));
  --gradient-end: hsla(var(--gradient-color), 0);

  display: none;

  @include desktop() {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: radial-gradient(
        var(--gradient-direction),
        var(--gradient-start),
        transparent
    );
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.1;

    &--yellow {
      --gradient-color: var(--yellow-hsl);
    }
    &--pink {
      --gradient-color: var(--pink-hsl);
    }
    &--blue {
      --gradient-color: var(--blue-hsl);
    }
    &--orange {
      --gradient-color: var(--orange-hsl);
    }

    &--left {
      --gradient-direction: ellipse at left;

      background-position-y: 50%
    }
    &--right {
      --gradient-direction: ellipse at right;

      background-position-y: 50%
    }
    &--top {
      --gradient-direction: ellipse at top;

      background-position-x: 50%
    }
    &--bottom {
      --gradient-direction: ellipse at bottom;

      background-position-x: 50%
    }
  }
}
