:root {
  --scrollbar-bg-color: transparent;
  --scrollbar-thumb-color: var(--opaque-light);
  --scrollbar-thickness: 4px;
}

/* Works on Firefox */
* {
  scrollbar-width: var(--scrollbar-thickness);
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: var(--scrollbar-thickness);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 0;
  border: 1px solid var(--scrollbar-bg-color);
}
