:root {
  --bold: 700;
  --regular: 400;
}

html {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--black);
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-on-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-bottom: var(--size-7);
}

h2 {
  font-size: ms(3);
}

h3 {
  font-size: ms(2);
}

ul {
  list-style-type: none;
}

a {
  font-weight: var(--bold);
  text-decoration: underline;
  color: var(--color-on-dark);

  &:hover {
    text-decoration: none;
    color: currentColor;

  }
}
