// Small screens
///////////////////////////////////
@media screen and (max-width: 1024px) {
  .o-grid {
    --grid-cols: var(--cols--sm, 1);
    --grid-gap: var(--size-2);
  }
  .o-grid__col {
    --col-span: var(--span--sm, var(--grid-cols));
    --col-start: var(--start--sm, auto);
  }
}

// Medium screens
///////////////////////////////////
@media screen and (min-width: 1024px) {
  .o-grid {
    --grid-cols: var(--cols--med, 6);
    --grid-gap: var(--size-3);
  }

  .o-grid__col {
    --col-span: var(--span--med, 1);
    --col-start: var(--start--med, auto);
  }
}

// Large screens
///////////////////////////////////
@media screen and (min-width: 1400px) {
  .o-grid {
    --grid-cols: var(--cols--lrg, 12);
    --grid-gap: var(--size-3);
  }

  .o-grid__col {
    --col-span: var(--span--lrg, 1);
    --col-start: var(--start--lrg, auto);
  }
}

// Grid
///////////////////////////////////
.o-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  column-gap: var(--grid-gap, 1.5rem);
  row-gap: var(--grid-gap, 1.5rem);
  width: 100%;
}

.o-grid--flush {
  --grid-gap: 0;
}

.o-grid__col {
  grid-column: var(--col-start, auto) / span var(--col-span);

  &--half {
    grid-column-end: span calc(var(--grid-cols) / 2);
  }

  &--third {
    grid-column-end: span calc(var(--grid-cols) / 3);
  }

  &--quarter {
    grid-column-end: span calc(var(--grid-cols) / 4);
  }
}

.o-grid__row {
  grid-column: 1 / span var(--grid-cols);
}
