.section-panel {
  --border-width: #{ms(-5)};
  --border-color: var(--black);

  background-color: var(--panel-bg, #ccc);
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: ms(0);
  position: relative;
  transition: var(--color-transition), border-width 200ms;

  &:hover {
    cursor: pointer;
  }

  @include desktop() {
    padding: ms(2);

    &.is-active {
      --border-width: #{ms(0)};
    }

    &--top {
      border-bottom-width: var(--border-width);
    }

    &--bottom {
      border-top-width: var(--border-width);
    }

    &--left {
      border-right-width: var(--border-width);
    }

    &--right {
      border-left-width: var(--border-width);
    }
  }
}

.section-panel__title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: ms(1);
  margin-bottom: 0;
  transition: opacity 0.3s, transform 0.5s, var(--color-transition);
  transform-origin: 0 0;
  color: var(--title-color);
  user-select: none;
  z-index: 0;
  pointer-events: none;

  .is-active & {
    transform: scale(10) translateX(-10px) translateY(-15px);
    opacity: var(--active-opacity, 0.15);
  }

  @include desktop() {
    position: absolute;
    margin-bottom: 0;
    transform: var(--inactive-transform);

    .is-active & {
      transform: var(--active-transform);
    }

    .section-panel:hover & {
      color: var(--title-color-hover, var(--color-on-light));
    }

  }
}

.section-panel__title-icon {
  width: 15px;
  height: 15px;
  stroke: var(--title-color);
  display: inline-block;
  margin: 0 5px;
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  transition-delay: 400ms;

  .is-active & {
    opacity: 0;
  }
}

.section-panel__content {
  position: relative;
  z-index: 10;

  .section-panel:not(.is-active) & {
    opacity: 0;
    height: 0;
  }
}

