/////////////////////////
// TYPE
/////////////////////////
$family-sans-serif: 'Noto Sans', sans-serif;

/////////////////////////
// COLORS
/////////////////////////
$black: hsl(60, 1%, 13%);
$black-bis: hsl(60, 1%, 16%);
$black-ter: hsl(60, 1%, 19%);

$orange: hsl($hue-orange, $sat-base, $lum-base);
$yellow: hsl($hue-yellow, $sat-base, $lum-base);
$green: hsl($hue-yellow, $sat-base, $lum-base);
$turquise: hsl($hue-turquise, $sat-base, $lum-base);
$cyan: hsl($hue-cyan, $sat-base, $lum-base);
$turquise: hsl($hue-turquise, $sat-base, $lum-base);
$blue: hsl($hue-blue, $sat-base, $lum-base);
$purple: hsl($hue-purple, $sat-base, $lum-base);
$pink: hsl($hue-pink, $sat-base, $lum-base);
$red: hsl($hue-red, $sat-base, $lum-base);

/////////////////////////
// SIZING
/////////////////////////
$size-1: ms(6);
$size-2: ms(5);
$size-3: ms(4);
$size-4: ms(3);
$size-5: ms(2);
$size-6: ms(1);
$size-7: ms(0);
$size-8: ms(-1);
