$desktop: 1024px;
$tablet: 769px !default;
$desktop: 1024px !default;
$widescreen: 1216px !default;
$widescreen-enabled: true !default;
$fullhd: 1408px !default;
$fullhd-enabled: true !default;

@mixin from($device) {
  @media screen and (min-width: $device) {
    @content
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content
  }
}

@mixin mobile() {
  @media screen and (max-width: $tablet - 1px) {
    @content
  }
}

@mixin tablet() {
  @media screen and (min-width: $tablet), print {
    @content
  }
}

@mixin tablet-only() {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content
  }
}

@mixin touch() {
  @media screen and (max-width: $desktop - 1px) {
    @content
  }
}


@mixin desktop() {
  @media screen and (min-width: $desktop) {
    @content
  }
}

@mixin widescreen() {
  @media screen and (min-width: $widescreen) {
    @content
  }
}
