$sat-base: 96%;
$lum-base: 48%;
$lum-dark: 30%;
$lum-light: 85%;

$hue-orange: 11;
$hue-yellow: 45;
$hue-green: 112;
$hue-turquise: 184;
$hue-cyan: 212;
$hue-turquise: 184;
$hue-blue: 237;
$hue-purple: 274;
$hue-pink: 310;
$hue-red: 349;
