// https://css.land/lch/
// orange lch(53.905% 97.394 43.009)
// pink lch(61.75% 89.016 333.544)
// yellow lch(76.572% 78.041 81.006)
// blue lch(18.066% 89.172 300.113)

:root {
  --pink: hsl(#{$hue-pink}, #{$sat-base}, #{$lum-base});
  --pink-dark: hsl(#{$hue-pink}, #{$sat-base}, #{$lum-dark});
  --pink-light: hsl(#{$hue-pink}, #{$sat-base}, #{$lum-light});
  --pink-hsl: #{$hue-pink}, #{$sat-base}, #{$lum-base};
  --blue: hsl(#{$hue-blue}, #{$sat-base}, #{$lum-base});
  --blue-dark: hsl(#{$hue-blue}, #{$sat-base}, #{$lum-dark});
  --blue-light: hsl(#{$hue-blue}, #{$sat-base}, #{$lum-light});
  --blue-hsl: #{$hue-blue}, #{$sat-base}, #{$lum-base};
  --yellow: hsl(#{$hue-yellow}, #{$sat-base}, #{$lum-base});
  --yellow-dark: hsl(#{$hue-yellow}, #{$sat-base}, #{$lum-dark});
  --yellow-light: hsl(#{$hue-yellow}, #{$sat-base}, #{$lum-light});
  --yellow-hsl: #{$hue-yellow}, #{$sat-base}, #{$lum-base};
  --orange: hsl(#{$hue-orange}, #{$sat-base}, #{$lum-base});
  --orange-dark: hsl(#{$hue-orange}, #{$sat-base}, #{$lum-dark});
  --orange-light: hsl(#{$hue-orange}, #{$sat-base}, #{$lum-light});
  --orange-hsl: #{$hue-orange}, #{$sat-base}, #{$lum-base};
  --black: hsl(60, 1%, 13%);
  --white: hsl(60, 100%, 96%);
  --opaque-light: hsla(0, 100%, 100%, 0.5);
  --opaque-dark: hsla(0, 100%, 0%, 0.5);
}
