.u-type__heading {
  font-size: var(--size-4);
  font-weight: 700;
}

.u-type__heading--large {
  font-size: var(--size-3);
  font-weight: 700;
}

.u-type__sub-heading {
  font-size: var(--size-6);
  font-weight: 700;
}

.u-type__sub-heading--large {
  font-size: var(--size-5);
  font-weight: 700;
}
